.sign-up {
    max-width: 640px;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.sign-up__title {
    font-size: 1.2rem;
    margin: 0;
    margin-bottom: 18px;
    line-height: 1;
}

.sign-up__email {
    margin-bottom: 9px;
    padding: 0.25rem;
}

.sign-up__name {
    margin-bottom: 9px;
    padding: 0.25rem;
}

.sign-up__password {
    margin-bottom: 18px;
    padding: 0.25rem;
}

.sign-up__entry-button {
    background-color: #92d36e;
    padding: 0.25rem;
    border-radius: 3px;
    border: none;
    cursor: pointer;
}
