.choice-item {
    display: flex;
    align-items: center;
    margin-bottom: 9px;
}

.choice-item__content {
    flex: 1;
}

.choice-item__delete-button {
    width: 3rem;
    margin-left: 0.5rem;
}
